@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-bg-primary: #141414;
  --color-bg-secondary: #1e1e1e;
  --color-accent: #8fff66;
  --color-additional: #ff9866;

  --spacing-25px: 25px;

  --font-josefin: 'Josefin Sans', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;

  --img-hero: url('./assets/images/hero.png');
  --img-cover1: url('./assets/images/cover1.jpeg');
  --img-cover2: url('./assets/images/cover2.jpeg');
  --img-disk: url('./assets/images/disk.jpeg');
  --img-photo1: url('./assets/images/photo1.jpg');
  --img-photo2: url('./assets/images/photo2.jpg');
  --img-studio-reviews: url('./assets/images/studio.jpg');
  --img-studio-about: url('./assets/images/studio-about.jpg');
  --img-studio-services: url('./assets/images/studio-services.jpg');
  --img-studio-portfolio: url('./assets/images/studio-portfolio.jpg');
}

@layer base {
  html {
    @apply scroll-smooth;
    overflow-y: scroll;
  }
  a {
    @apply transition hover:opacity-70;
  }
}
@layer components {
  .arrow {
    @apply h-[13px] w-[13px];
  }
  .btn {
    @apply bg-accent rounded-[10px] text-bg-primary px-[15px] py-2.5 font-medium cursor-pointer transition hover:opacity-70 active:bg-additional;
  }
  .link {
    @apply text-accent flex gap-2.5 items-center font-medium;
    svg {
      @apply fill-current;
    }
  }
  .custom-container {
    @apply container px-25px mx-auto;
  }
  .overlay {
    @apply relative;
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
  .tab {
    & + label {
      @apply cursor-pointer transition hover:opacity-70;
    }
    &:checked + label {
      @apply text-accent;
    }
  }
  .burger-line {
    @apply absolute block w-full h-0.5 bg-white left-0 transition-all;
  }
  [data-burger-button].is-opened {
    .burger-line:nth-child(1) {
      @apply top-1/2! -translate-y-1/2 rotate-45;
    }
    .burger-line:nth-child(2) {
      @apply opacity-0;
    }
    .burger-line:nth-child(3) {
      @apply top-1/2 -translate-y-1/2 -rotate-45;
    }
  }
  .nav-menu {
    @apply -translate-y-full fixed inset-0 bg-bg-secondary  
           transition-transform duration-300
           flex justify-center items-center
           md:static md:w-auto md:translate-y-0 md:bg-transparent 
           md:transition-none
           md:flex;
  }
  .player-progress {
    @apply appearance-none h-2.5 cursor-pointer;

    &::-webkit-slider-runnable-track {
      @apply bg-white/50 h-0.5 rounded-full;
    }
    &::-moz-range-progress {
      @apply bg-white/50 h-0.5 rounded-full;
    }

    &::-webkit-slider-thumb {
      @apply appearance-none w-2.5 h-2.5 rounded-full bg-white -mt-1;
    }
    &::-moz-range-thumb {
      @apply appearance-none w-2.5 h-2.5 rounded-full bg-white -mt-1;
    }
  }
  .player-volume {
    @apply appearance-none cursor-pointer;

    &::-webkit-slider-runnable-track {
      @apply bg-white/50 h-2.5 overflow-visible;
    }
    &::-moz-range-progress {
      @apply bg-white/50 h-2.5;
    }
    &::-webkit-slider-thumb {
      @apply appearance-none w-1 h-full bg-white;
    }
    &::-moz-range-thumb {
      @apply appearance-none w-1 h-full bg-white;
    }
  }
  .player-controls {
    @apply md:opacity-0;
  }
  .player {
    @apply hover:bg-black/50;
    &:hover .player-controls {
      @apply opacity-100;
    }
  }
}
