@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-bg-primary: #141414;
  --color-bg-secondary: #1e1e1e;
  --color-accent: #8fff66;
  --color-additional: #ff9866;

  --spacing-25px: 25px;

  --font-josefin: 'Josefin Sans', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;

  --img-hero: url('./assets/images/hero.png');
  --img-cover1: url('./assets/images/cover1.jpeg');
  --img-cover2: url('./assets/images/cover2.jpeg');
  --img-disk: url('./assets/images/disk.jpeg');
  --img-photo1: url('./assets/images/photo1.jpg');
  --img-photo2: url('./assets/images/photo2.jpg');
  --img-studio: url('./assets/images/studio.jpg');
}

@layer components {
  .arrow {
    @apply h-[13px] w-[13px];
  }
  .btn {
    @apply bg-accent rounded-[10px] text-black px-[15px] py-2.5 font-medium hover:cursor-pointer;
  }
  .link {
    @apply text-accent flex gap-2.5 items-center font-medium;
    svg {
      @apply fill-current;
    }
  }
  .custom-container {
    @apply container px-25px mx-auto;
  }
  .overlay {
    @apply relative;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
  .tab {
    @apply hover:cursor-pointer hover:text-accent hover:transition-colors hover:duration-100;
  }
}
